[Unit]
Description=Sensor hub script
 After=network.target

[Service]
ExecStart=/home/admin/SensorHub/bin/python /home/admin/Pi-Sensor-Hub-with-Facial-Recognition/Face-Recognition/main_app_2.py
WorkingDirectory=/home/admin/Pi-Sensor-Hub-with-Facial-Recognition/Face-Recognition
Restart=always
User=admin

[Install]
WantedBy=default.target
